html{
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
.page-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    background-color: #F0E3AF;
}

#textbox-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#touchpad-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#textbox-wrapper{
    width: 60%;
}

#touchpad-wrapper{
    width: 40%;
}

#current-word-wrapper, #current-message-wrapper{
    border: 1px solid black;
    border-radius: 25px;
}

.message{
    font-size: 50pt;
    margin: 0 auto;
}

#current-message-wrapper,
#current-word-wrapper{
    height: 200px;
    width: 100%;
}

#predictive{
    /* flex-grow: 2; */
    width: 100%;
    height: 100%;
}

.vcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}
.button-settings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button.predictive-button{
    height: 100px;
    display: inline;

    background-color:yellow;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color: black;
    font-family:Arial;
    font-size:40px;
    padding:16px 31px;
    text-decoration:none;
    margin: auto;
}

.settings{
    float: left;
    height: 30px;
    width: 30px;
    padding: 10px;
    /* border: 1px solid red; */
}


#speak-button{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#touchpad{
    height: 100%;
}

canvas{
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}


button.green {
    height: 100px;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:40px;
	padding:16px 31px;
	text-decoration:none;
    margin: auto;
    width: 400px;
}
